body {
    background-color: rgb(197, 34, 34);
  }
  .text {
      background-color: white;
      color: black;
      padding: 10px;
      font-family: 'Comic Neue', cursive;
  }
  p {
      text-align: center;
  }
  p::first-letter{
    font-family: 'Caveat', cursive;
    font-size: 3em;
  }
  h1 {
      text-align: center;
      font-family: 'Comic Neue', cursive;

  }
  h2{
    text-align: center;
    font-family: 'Comic Neue', cursive;

  }
