body {
    height:100vh;
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 3fr 1fr;
    text-align:center;
  }
  header {
    display:flex;
    justify-content:space-between;
    border:solid 2px;
    width: auto;
    grid-row:1 / 1;
    grid-column: 1 / 4;
    background-color:#9f9f9f;
  }
  .logo {
    height:100px;
    width:100px;
    background-color:#7c2525;
  }
  .site_title {
    background-color:#e0e0e0;
    float:left;
  }
  nav {
    background-color:#c0c0c0;
    transition: margin-right 1s;
  }
  ul {
    height:100%;
    list-style-type:none;
    margin:5px;
    padding:1px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
  }
  nav:hover {
    margin-right:20px;
    transition: margin-right 1s;
  }
  main {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    grid-row:2;
    background-color:#808080;
  }
  aside {
    display:flex;
    flex-direction:column;
    justify-content:center;
    grid-row:2;
    background-color:#f5f5f5;
  }
  img {
max-width:100%;
  }
  